<!-- Section 1-3 -->
<!-- <app-hello></app-hello> -->

<!-- *********** Section 4 Ngif Directive *********** -->

<!-- <ng-template [ngIf]="user.age >= 18" [ngIfElse]="under18">
  <app-ng-if
    *ngIf="user.age >= 18; else under18"
    [name]="user.name"
  ></app-ng-if>
</ng-template>
<ng-template #under18>
  <div *ngIf="user.age < 18">Bạn quá nhỏ để xem nội dung này</div>
</ng-template>
<br />
<button (click)="user.age = user.age + 1">+</button>
Age: {{ user.age }}
<button (click)="user.age = user.age - 1">-</button> -->

<!-- Section 5 NgFor Directive -->

<!-- <h1>Looping with NgFor</h1> -->

<!-- <ol>
  <li
    *ngFor="
      let user of users;
      index as idx;
      count as total;
      even as isEven;
      odd as isOdd
    "
  >
    <span>{{ idx }} / {{ total }} - {{ user.name }} </span>

    <span *ngIf="isEven">is even</span>
    <span *ngIf="isOdd">is odd</span>
  </li>
</ol>

<br /> -->

<!-- <ng-container *ngIf="users.length > 1; else noUser">
  <ng-template
    ngFor
    let-user
    [ngForOf]="users"
    let-idx="index"
    let-total="count"
  >
    <span>{{ idx }} / {{ total }} - {{ user.name }} </span>
    <br />
  </ng-template>
</ng-container>

<ng-template #noUser> NO User </ng-template> -->

<!-- *********** Section 6 ATTRIBUTE DIRECTIVE *********** -->

<!-- <p>ATTRIBUTE DIRECTIVE WITH [ngClass] AND [ngStyle]</p>

<br />
<button (click)="isDanger = !isDanger">Click border!</button>
<button (click)="isWarning = !isWarning">Click background</button>
<br />

<div
  class="box"
  [class.red-border]="isDanger"
  [class.yellow-background]="isWarning"
></div>

<div
  class="box"
  [class]="{ 'red-border': isDanger, 'yellow-background': isWarning }"
></div> -->

<!-- <p [style.color]="'red'" [style.backgroundColor]="'yellow'">
  Lorem ipsum dolor sit amet consectet
</p>

<p
  [style.color]="isDanger ? 'red' : 'blue'"
  [style]="{ backgroundColor: 'yellow' }"
>
  Lorem ipsum dolor sit amet consectet
</p> -->

<!-- *********** Section 7 Input binding *********** -->

<!-- <button (click)="currentProgress = currentProgress - 1">-</button>
<button (click)="currentProgress = currentProgress + 1">+</button> -->
<!-- <app-input-binding [progress]="currentProgress"></app-input-binding> -->
<!-- <app-input2 [progress]="currentProgress" [progressColor]="'red'" [backgroundColor]="'yellow'"></app-input2> -->

<!-- *********** Section 8 Output binding *********** -->

<!-- <app-author-list></app-author-list> -->
<!-- <app-todo-list></app-todo-list> -->

<!-- *********** Section 9 Custom two-way data binding *********** -->
<!-- <app-custom-twowaydatabinding></app-custom-twowaydatabinding> -->
<!-- <app-sizer [(size)]="fontSize"></app-sizer>
<div [style.font-size.px]="fontSize">{{ title }}</div> -->

<!-- *********** Section 10 ViewChild/ViewChildren *********** -->
<!-- #toggleComp la 1 instance cua app-toggle -->

<!-- <button #toggleButton>Toggle</button>

<button (click)="toggleComp.toggle()">Toggle Button</button>
<app-toggle #toggleComp [(checked)]="isChecked" to></app-toggle>

<button (click)="showLast = !showLast">Show Last Toggle</button>
<input type="text" #nameInput value="HaLacDa" />
<br />
<app-toggle #toggleComp [(checked)]="isChecked"></app-toggle>
<app-toggle #toggleComp [(checked)]="isChecked"></app-toggle>
<ng-container *ngIf="showLast">
  <app-toggle #toggleComp [(checked)]="isChecked"></app-toggle>
</ng-container> -->

<!-- <app-sizer [(size)]="fontSize"></app-sizer>
<app-sizer [(size)]="fontSize"></app-sizer>
<app-sizer [(size)]="fontSize"></app-sizer>
<app-sizer [(size)]="fontSize"></app-sizer>
<app-sizer [(size)]="fontSize"></app-sizer>
<button (click)="changeSizeOutSizer()">Change Size</button> -->
<!-- day 11 typescript datatype

let someString: string;
let someNumber: number;
let someBoolean: boolean;
let something: any; // có thể gán sang cho bất kỳ kiểu dữ liệu nào khác
let someStringArray: string[]; // tương tự cho number[], boolean[], any[]
let someObject: object;
let someNull: null;
let someUndefined: undefined;
let someUnknown: unknown;
let someNever: never; // ví dụ như một hàm throw exception
let someTuple: [string, number];
let someVoidFunction: () => void; // một hàm không trả về giá trị gì sau khi thực thi
let someFunction: () => string; // một hàm trả về giá trị có type "string" sau khi thực thi -->

<!-- day 12 typescript advance datatype -->

<!-- <app-flex [flexDirection]="'column'">
  <div>Some</div>
  <div>Thing</div>
</app-flex> -->

<!-- day 13 content projection -->

<!-- <app-toggle [(checked)]="isChecked">
  <h1>Toggle</h1>
  <h3>This is a toggle component h3</h3>
  <h1>This is a toggle component h1</h1>
  <h4>This is a toggle component h4</h4>
  <h2 ngProjectAs="h1">This is a toggle component h2 but ngProjectAs="h1"</h2>

  <button>Click me</button>
</app-toggle> -->

<!-- d14 ng-template ng-template-outlet ng-container -->

<!-- <div class="card mx-4">
  <div class="card-header">
    You have selected
    <ng-container [ngTemplateOutlet]="counterTmpl1"></ng-container>.
  </div>
  <div class="card-body">
    There are
    <ng-container [ngTemplateOutlet]="counterTmpl2"></ng-container> was
    selected.
  </div>
  <div class="card-footer">
    You have selected
    <ng-container [ngTemplateOutlet]="counterTmpl2"></ng-container>.
  </div>
</div>

<ng-template #counterTmpl1>
  <span class="badge badge-primary">{{ counter }}</span> items
</ng-template>

<ng-template #counterTmpl2>
  <span class="badge badge-danger">{{ counter }}</span> items
</ng-template> -->

<!-- <ng-template #linkTemplate let-nav> {{ nav }} </ng-template>
<app-tabs [navs]="navs" [linkTemplate]="linkTemplate"></app-tabs> -->

<!-- d16 dependency injection -->
<!--
<app-tab-group>
  <app-tab-panel title="Tab 1">First</app-tab-panel>
  <app-tab-panel title="Tab 2">Second</app-tab-panel>
  <app-tab-panel title="Tab 3">Third</app-tab-panel>
</app-tab-group>

<br />
<app-tab-bs-group>
  <app-tab-panel title="Tab 1">Tab1</app-tab-panel>
  <app-tab-panel title="Tab 2">Tab2</app-tab-panel>
  <app-tab-panel title="Tab 3">Tab3</app-tab-panel>
</app-tab-bs-group> -->

<!-- d17 content child content children -->

<button (click)="showTag4 = !showTag4">Toggle Tab 4</button>
<app-tab-bs-group>
  <app-tab-panel title="Tab 1">
    <ng-template appTabPanelDirective>
      content tab 1
      <app-counter></app-counter>
    </ng-template>
  </app-tab-panel>
  <app-tab-panel title="Tab 2">
    <ng-template appTabPanelDirective>
      content tab 2
      <app-counter></app-counter>
    </ng-template>
  </app-tab-panel>
  <app-tab-panel title="Tab 3">
    <ng-template appTabPanelDirective>
      content tab 3

      <app-counter></app-counter>
    </ng-template>
  </app-tab-panel>
  <app-tab-panel title="Tab 4" *ngIf="showTag4">
    <ng-template appTabPanelDirective>
      content tab 4
      <app-counter></app-counter>
    </ng-template>
  </app-tab-panel>
</app-tab-bs-group>

<app-counter></app-counter>
